.chat-container{
    list-style: none;
    background: none;
    margin: 0;
    padding: 0 0 0 0;
    position: absolute;
    height: 90vh; 
    width: 100%;
    overflow-y: scroll;
    padding-right: 17px;
}